<style>
  .item-content{
    padding: 5px!important;
  }
</style>

<ion-view view-title="{{modeName}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-bluetooth" ng-class="{isBtConnected: connectBtModal.btStatus.currentDeviceStatus}" ng-click="connectBtModal.openModal()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header padding">
<div class="list">
  <div class="item fontCenter cssSlideUp" ng-show="btStatus.isNotice">
      <ion-spinner icon="lines" ng-show="btStatus.isLoading"></ion-spinner>
      <h2>{{btStatus.stat}}</h2>
    </div>
</div>

    <button class="button button-full button-positive" ng-click="sendCmd()" ng-show="isCustom">
  傳送此設置到裝置中
</button>
  <ion-list >
    <div class="item item-divider row fontCenter">
      <div class="col-75">
        <p>開始時間 ~ 結束時間</p>
      </div>

      <div class="col-25">
        <p>亮度</p>
      </div>
    </div>
    <!--
    <div class="item sectionItem">
      <div class="row fontCenter ">
        <div class="col-75">06:00 ~ 18:00</div>
        <div class="col-25">仿自然光</div>
      </div>
    </div>
  -->
    <!-- href="#/tab/modes/edit/{{modeName}}/{{sec.ab_section}}" -->
    <ion-item ng-repeat="sec in sections | filter : {mode:'!!'} "class="sectionItem" ng-click="openModal($index)">

        <ion-option-button class="button-assertive" ng-click="delSection({{sec.ab_section}})">
          Delete
        </ion-option-button>
      <div class="row fontCenter ">
        <div class="col-75">
          <p>{{sec.setHour | numberFixedLen: 2}}:{{sec.setMin | numberFixedLen: 2}} ~ {{sec.endHour | numberFixedLen: 2}}:{{sec.endMin | numberFixedLen: 2}}</p>
        </div>
        <div class="col-25">
          <p>{{sec.multiple}}%</p>
        </div>
      </div>
    </ion-item>

  </ion-list>
    <button class="button button-full button-positive" ng-click="addSection()" ng-show="isCustom">
  增加
</button>
    <button class="button button-full button-positive" ng-click="saveMode()" ng-show="isCustom">
  儲存目前設定
</button>

  </ion-content>
</ion-view>
