<style>
  .input-label p{
    font-size: 16px;
    color: #444;

  }
</style>
<ion-view view-title="Manual">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-bluetooth" ng-class="{isBtConnected: connectBtModal.btStatus.currentDeviceStatus}" ng-click="connectBtModal.openModal()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">

  <div class="list">
    <div class="item fontCenter cssSlideUp" ng-show="isNotice">
      <ion-spinner icon="lines" ng-show="btStatus.isLoading"></ion-spinner>
      <h2>{{btStatus.stat}}</h2>
    </div>
    <div class="item item-icon-left item-select"> <!-- class: item-input -->
    <div class="input-label">
      <i class="icon ion-star"></i>
        <p>發光模式</p>
    </div>
    <select ng-model="thisSection['mode']" ng-options="lightItem.ID as lightItem.Title for lightItem in lightList">
    </select>
    </div>

    <div class="item item-icon-left">
        <i class="icon ion-ios-sunny"></i>
        亮度
        <span class="item-note">
          {{thisSection['multiple']}}%
        </span>
    </div>
    <div class="item range range-positive">
      <i class="icon ion-ios-lightbulb"></i>
      <input type="range" name="volume" min="0" max="100" ng-model="thisSection['multiple']">
      <i class="icon ion-ios-lightbulb-outline"></i>
    </div>
    <button class="button button-block button-dark" ng-click="sendDisableManualCmd()">
      關閉裝置的手動模式
    </button>
    <button class="button button-block button-balanced" ng-click="sendCmd()">
      傳送目前設置
    </button>

  </div>

  </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
  <h1 class="title">目前模式：{{currentMode.type | lightType}} <span ng-show="currentMode.type==0">- {{currentMode.mode | lightKeyToName}} - {{currentMode.pattern | patternKeyToName:currentMode.mode}}</span></h1>
</ion-footer-bar>
</ion-view>
